<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded Grafana Dashboard</title>
</head>
<body>
    <!-- Paste the embedded Grafana code here -->
    <iframe id="grafana-iframe" src="" width="450" height="450" frameborder="0"></iframe>

    <script>
        function refreshIframe() {
            var iframe = document.getElementById('grafana-iframe');
            iframe.src = "http://localhost:3001/public-dashboards/33a17a71bc2645068b5899e2077b3d06" ;
        }

        // Refresh the iframe every 5 seconds
        setInterval(refreshIframe, 5000);
    </script>
</body>
</html>
